/* font-family: 'Lato', sans-serif; */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #535353;
}

section.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

section.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../img/background_tiny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-attachment: fixed;
  z-index: -1;
}

section.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8vh;
  padding: 0 70px;
  background-color: rgba(202, 202, 202, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  z-index: 100;
}

section.header nav.hide {
  -webkit-transform: translateY(-8vh);
          transform: translateY(-8vh);
}

section.header nav .logo h4 {
  font-size: 22px;
  font-weight: 700;
  color: #535353;
  letter-spacing: 3px;
  text-transform: uppercase;
}

section.header nav ul.nav-links {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 8vh;
  left: 0;
  list-style: none;
  background-color: rgba(202, 202, 202, 0.8);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

section.header nav ul.nav-links.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 768px) {
  section.header nav ul.nav-links {
    position: static;
    width: 40%;
    height: 8vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

section.header nav ul.nav-links li {
  opacity: 0;
}

@media (min-width: 768px) {
  section.header nav ul.nav-links li {
    opacity: 1;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

section.header nav ul.nav-links li a {
  font-size: 22px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #535353;
  position: relative;
  overflow: hidden;
}

section.header nav ul.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #535353;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

section.header nav ul.nav-links li a:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 768px) {
  section.header nav ul.nav-links li a {
    font-size: 20px;
  }
}

section.header nav .burger {
  width: 33px;
}

@media (min-width: 768px) {
  section.header nav .burger {
    display: none;
  }
}

section.header nav .burger div {
  background-color: #535353;
  height: 3px;
  margin: 4px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

section.header nav .burger div:nth-child(1).active {
  -webkit-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
}

section.header nav .burger div:nth-child(2).active {
  opacity: 0;
}

section.header nav .burger div:nth-child(3).active {
  -webkit-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  section.about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1025px) {
  section.about {
    margin: 60px 10px;
  }
}

section.about h1 {
  text-align: center;
  font-size: 30px;
  position: relative;
}

@media (min-width: 1025px) {
  section.about h1 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    font-size: 40px;
  }
}

section.about h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 2px;
  margin: 0 auto;
  background-color: rgba(221, 221, 221, 0.774);
}

@media (min-width: 768px) {
  section.about h1::after {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  section.about h1::after {
    width: 76%;
  }
}

section.about div.about-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 30px 15px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  font-size: 20px;
  text-align: justify;
}

@media (min-width: 768px) {
  section.about div.about-text {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (min-width: 1025px) {
  section.about div.about-text {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 15px 0 0 0;
  }
}

section.about figure.about-img {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 40vh;
  position: relative;
  overflow: hidden;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@media (min-width: 768px) {
  section.about figure.about-img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

section.about figure.about-img div.img-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  background-color: rgba(221, 221, 221, 0.774);
  -webkit-animation: opacityBanerChange 7s infinite;
          animation: opacityBanerChange 7s infinite;
}

section.about figure.about-img div.img-content:hover {
  opacity: 1;
  -webkit-animation: none;
          animation: none;
}

section.about figure.about-img div.img-content h4 {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  letter-spacing: 3px;
}

@media (min-width: 411px) {
  section.about figure.about-img div.img-content h4 {
    margin-top: 4vh;
  }
}

@media (min-width: 1024px) {
  section.about figure.about-img div.img-content h4 {
    margin-top: 10vh;
  }
}

section.about figure.about-img div.img-content p {
  padding: 10px 50px;
}

@media (min-width: 1024px) {
  section.about figure.about-img div.img-content p {
    font-size: 20px;
  }
}

section.about figure.about-img div.img-content .btn-contact {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  border: 2px solid #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(184, 184, 184, 0.548);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 1024px) {
  section.about figure.about-img div.img-content .btn-contact {
    font-size: 22px;
  }
}

section.about figure.about-img div.img-content .btn-contact:hover {
  background-color: #fff;
}

@-webkit-keyframes opacityBanerChange {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityBanerChange {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

section.our-work {
  width: 100%;
  text-align: center;
}

section.our-work h1 {
  text-align: center;
  font-size: 40px;
  position: relative;
  margin: 30px 0;
}

@media (min-width: 1025px) {
  section.our-work h1 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    font-size: 40px;
    margin-bottom: 40px;
  }
}

section.our-work h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 2px;
  margin: 0 auto;
  background-color: rgba(221, 221, 221, 0.774);
}

@media (min-width: 768px) {
  section.our-work h1::after {
    width: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

section.our-work div.gallery-container {
  width: 100%;
  padding: 0 10px;
}

@media (min-width: 768px) {
  section.our-work div.gallery-container {
    height: 70vh;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
}

@media (min-width: 1024px) {
  section.our-work div.gallery-container {
    max-width: 100%;
    height: 80vh;
  }
}

@media (min-width: 1025px) {
  section.our-work div.gallery-container {
    max-width: 80%;
    height: 90vh;
  }
}

section.our-work div.gallery-container figure {
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}

@media (min-width: 768px) {
  section.our-work div.gallery-container figure {
    margin: 0;
  }
  section.our-work div.gallery-container figure.small {
    grid-row: span 1;
    grid-column: span 1;
  }
  section.our-work div.gallery-container figure.medium {
    grid-row: span 2;
    grid-column: span 2;
  }
  section.our-work div.gallery-container figure.large {
    grid-row: span 3;
    grid-column: span 3;
  }
  section.our-work div.gallery-container figure.tall {
    grid-row: span 3;
    grid-column: span 2;
  }
  section.our-work div.gallery-container figure.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
  section.our-work div.gallery-container figure:hover::after {
    opacity: .6;
  }
}

section.our-work div.gallery-container figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

section.our-work div.gallery-container figure:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.our-work div.gallery-container figure::before {
  content: "Lorem!";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  z-index: 3;
  color: #e0e0e0;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

section.our-work div.gallery-container figure:hover::before {
  opacity: 1;
}

section.shop {
  text-align: center;
  background-color: rgba(202, 202, 202, 0.2);
  padding: 20px 0;
}

@media (min-width: 1025px) {
  section.shop {
    margin-top: 80px;
  }
}

section.shop div.background-header {
  width: 100%;
  height: 25vh;
  background-image: url(../img/bg_boat.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  section.shop div.background-header {
    width: 98%;
    margin: 0 auto 30px;
  }
}

section.shop h1 {
  font-size: 40px;
  padding: 10px 0;
  position: relative;
}

section.shop h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65%;
  height: 2px;
  margin: 0 auto;
  background-color: #d3d3d3;
}

@media (min-width: 768px) {
  section.shop h1::after {
    width: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  section.shop h1 {
    margin-bottom: 40px;
  }
}

section.shop div.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  section.shop div.options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section.shop div.options div.option {
  height: 450px;
  width: 280px;
  text-align: center;
  border: 1px solid #d3d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
  padding: 30px 30px;
  border-radius: 5px;
  background-color: #fff;
}

@media (min-width: 768px) {
  section.shop div.options div.option {
    width: 350px;
  }
}

@media (min-width: 1025px) {
  section.shop div.options div.option {
    margin: 20px 30px;
  }
}

section.shop div.options div.option h2 {
  color: #000;
  font-size: 1.8em;
  padding: 5px 0;
  border-radius: 5px;
  border-bottom: 1px solid #d3d3d3;
}

section.shop div.options div.option div.price {
  margin: 50px 0 30px;
}

section.shop div.options div.option div.price span {
  font-size: 35px;
}

section.shop div.options div.option div.btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px 0 20px;
  padding: 10px 20px;
  background-color: #EE3162;
  font-size: 22px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  cursor: pointer;
}

section.shop div.options div.option div.btn:hover {
  opacity: .8;
}

section.shop div.options div.option ul {
  margin-top: 30px;
  list-style: none;
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.shop div.options div.option ul li {
  font-size: 20px;
  margin: 10px 0;
}

section.shop div.options div.option ul li i {
  margin-right: 2px;
  color: #03A9F4;
}
/*# sourceMappingURL=style.css.map */