/* font-family: 'Lato', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #535353;
}

@import 'header';
@import 'about';
@import 'our-work';
@import 'shop';
@import 'footer';